<footer>
    <p><a href="{{ site.baseurl}}/colophon" title="Colophon" aria>💖</a></p>
</footer>

{% if page.url == site.baseurl %}
<script defer>
function setHomepageGreeting() {
  const title = document.querySelector('header h1');
  const oldGreeting = 'Hello';
  let newGreeting = oldGreeting;

  const h = new Date().getHours();
  if (h >= 0 && h < 12) newGreeting = "Good&nbsp;Morning"; // 5-12
  if (h >= 12 && h < 18) newGreeting = "Good&nbsp;Afternoon"; // 12-18
  if (h >= 18 && h < 22) newGreeting = "Good&nbsp;Evening"; // 18-22
  if (h >= 22) newGreeting = "Good&nbsp;Evening"; // 22-23

  if(oldGreeting === newGreeting) return;
  title.innerHTML = title.innerHTML.replace(oldGreeting, newGreeting);
}

setHomepageGreeting();
</script>
{% endif %}
