// @function light-tint($col, $pc) { @return mix(#fff, $col, $pc); }
// @function dark-tint($col, $pc) { @return mix(#000, $col, $pc); }

@mixin in-light-mode() {
    @media (prefers-color-scheme: light) { @content; }
}
@mixin on-small-screen() {
    @media screen and (max-width: 60em) { @content; }
}
@mixin on-big-screen() {
    @media screen and (min-width: 60em) { @content; }
}

:root {
    --cDarkest: hsl(180, 40%, 5%);
    --cDark: hsl(180, 50%, 25%);
    --c: hsl(180, 50%, 40%);
    --cLight: hsl(180, 50%, 75%);
    --cLightest: hsl(180, 40%, 95%);

    --width: 40em;

    --fonts: 'Atkinson Hyperlegible', 'Verdana', 'Tahoma', 'Helvetica', sans-serif;
	--fonts-fancy: 'Libre Baskerville', 'Baskerville', 'Baskerville Old Face', 'Georgia', 'Times New Roman', serif;
}

$cDarkest: var(--cDarkest);
$cDark: var(--cDark);
$c: var(--c);
$cLight: var(--cLight);
$cLightest: var(--cLightest);

$fonts: var(--fonts, sans-serif);
$fonts-fancy: var(--fonts-fancy, serif);
$width: var(--width, 40em);

@import 'fonts/libre-baskerville.scss';
@import 'fonts/atkinson-hyperlegible.scss';
@import 'core';
@import 'headers';
@import 'home';
@import 'footer';