html {
	visibility: hidden;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	color: $cLightest;
	background-color: $cDarkest;
	
	@include in-light-mode() {
		color: $cDarkest;
		background-color: $cLightest;
	}

	font-family: $fonts;
	font-size: 1.1em;
}

aside#colour-bar {
	position: fixed;
	top: -0.5em;
	left: 0;
	width: 100vw;
	height: 1em;
	background-color: $c;
}

a {
	color: $cLight;
	@include in-light-mode() {
		color: $cDark;
	}
	text-decoration: none;
	border-bottom: 0.2em solid $c;

	&:hover, &:focus {
		border-bottom-color: $cLight;
	
		@include in-light-mode() {
			border-bottom-color: $cDark;
		}
	}

	&:focus {
		outline: 0;
		background-color: $cLightest;
		color: $cDarkest;
		@include in-light-mode() {
			background-color: $cDarkest;
			color: $cLightest;
		}
	}
}

hr {
	border: 0;
	border-top: 0.1em solid $c;
	max-width: 75%;
	margin: 1em auto;
}

.emoji-icon {
	display: inline-block;
	width: 1.25em;
	text-align: center;
	filter: saturate(75%);
}

main {
	max-width: $width;
	margin: 0 auto;
	line-height: 1.7em;
}

article {
	h1, h2, h3, h4, h5 {
		margin-bottom: 0;

		&:not(:first-child) {
			margin-top: 1.5em;
		}
	}
}