html {
	visibility: hidden;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	color: $cLightest;
	background-color: $cDarkest;

	@include in-light-mode() {
		color: $cDarkest;
		background-color: $cLightest;
	}

	font-family: $fonts;
	font-size: 1.1em;
}

aside#colour-bar {
	position: fixed;
	top: -0.5em;
	left: 0;
	width: 100vw;
	height: 1em;
	background-color: $c;

	&.pride {
		background: linear-gradient(90deg,red 0%,#ff9a00 10%,#d0de21 20%,#4fdc4a 30%,#3fdad8 40%,#2fc9e2 50%,#1c7fee 60%,#5f15f2 70%,#ba0cf8 80%,#fb07d9 90%,red 100%);
	}
}

a[href]:not(.butt) {
	color: $cLight;
	@include in-light-mode() {
		color: $cDark;
	}
	text-decoration: none;
	font-weight: 700;
	border-bottom: 0.2em solid $c;

	&:has(.emoji-icon) {
		display: inline-block;
  		margin-bottom: -0.2em;
	}

	&:hover,
	&:focus {
		border-bottom-color: $cLight;

		@include in-light-mode() {
			border-bottom-color: $cDark;
		}
	}

	&:focus {
		outline: 0;
		background-color: $cLightest;
		color: $cDarkest;
		@include in-light-mode() {
			background-color: $cDarkest;
			color: $cLightest;
		}
	}
}

a[href].butt {
	display: inline-block;
	padding: 0.1em 0.2em;
	margin: 0 0.1em;
	border: 0.15em solid $c;
	color: $cLight;
	font-weight: 400;

	@include in-light-mode() {
		color: $cDark;
	}
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: $cLightest;
		color: $cDarkest;

		@include in-light-mode() {
			background-color: $cDarkest;
			color: $cLightest;
		}
	}
}

hr {
	border: 0;
	border-top: 0.1em solid $c;
	max-width: 75%;
	margin: 1em auto;
}

.emoji-icon {
	display: inline-block;
	width: 1.25em;
	text-align: center;
	filter: saturate(75%);

	&.external-link {
		font-size: 80%;
	}
}

.smol {
	font-size: 80%;
}

// from tailwind
// https://tailwindcss.com/docs/screen-readers
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

main {
	max-width: $width;
	margin: 0 auto;
	line-height: 1.75em;

	@include on-small-screen() {
		padding: 0 1em;
	}
}

article {
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-bottom: 0;

		&:not(:first-child) {
			margin-top: 1.5em;
		}
	}
}

summary {
	cursor: pointer;
}