footer {
	max-width: $width;
	margin: 2em auto;
	text-transform: lowercase;
	opacity: 0.7;
	
	@include on-small-screen() {
		text-align: center;
		padding: 0 1em;

		p {
			margin: 0;
		}

		a {
			display: inline-block;
			margin: 1em 0;
			padding: 1em 0;
			min-width: 80%;
		}
	}

	@include on-big-screen() {
			display: flex;
			justify-content: space-between;
	}


	border-top: 0.1em solid $cDark;
	@include in-light-mode() {
		border-top-color: $cLight;
	}

	a#new-colour, a#colophon {
		border-bottom: none;

		&:hover {
			text-decoration: underline;
		}
	}

	a#stay-alive {
		font-family: $fonts-fancy;
		font-style: italic;
		border-bottom: none;


		span#stay-alive-text {
			opacity: 0;

			@include on-small-screen() {
				display: none;
			}
		}

		&:hover, &:focus {
			span#stay-alive-text {
				opacity: 1;
			}
		}
		
		&:hover:not(:focus) {
			color: $c;
		}

		span.emoji-icon {
			font-style: normal;
		}
	}
}
