footer {
	max-width: $width;
	margin: 2em auto;
	text-transform: lowercase;
	opacity: 0.8;

	a {
		/* font-weight: normal; */
		font-family: inherit;

		&#attribution {
			font-weight: normal;
		}
	}

	@include on-big-screen() {
		display: flex;
		justify-content: space-between;
	}

	@include on-small-screen() {
		text-align: center;
	}

	border-top: 0.2rem solid $cDark;

	@include in-light-mode() {
		border-top-color: $cLight;
	}

	a#stay-alive {
		font-family: $fonts-fancy;
		border-bottom: none;


		span#stay-alive-text {
			opacity: 0;

			@include on-small-screen() {
				display: block;
				text-align: center;
			}
		}

		&:hover, &:focus {
			span#stay-alive-text {
				opacity: 1;
			}
		}

		&:hover:not(:focus) {
			color: $c;
		}

		span.emoji-icon {
			font-style: normal;
		}
	}
}
