footer {
	max-width: $width;
	margin: 2em auto;

	@include on-small-screen() {
		padding: 0 1em;
	}

	text-transform: lowercase;

	border-top: 0.1em solid $cDark;
	@include in-light-mode() {
		border-top-color: $cLight;
	}

	display: flex;
	justify-content: space-between;

	a#new-colour {
		border-bottom: none;

		&:hover {
			text-decoration: underline;
		}
	}

	a#stay-alive {
		font-family: $fonts-fancy;
		font-style: italic;
		border-bottom: none;

		span#stay-alive-text {
			opacity: 0;
		}

		&:hover, &:focus {
			span#stay-alive-text {
				opacity: 1;
			}
		}
		
		&:hover:not(:focus) {
			color: $c;
		}

		span.emoji-icon {
			font-style: normal;
		}
	}
}