header {
	text-transform: lowercase;
}

// site header
header#site-header {
	max-width: $width;
	margin: 2em auto;
	border-bottom: 0.5em solid $c;

	h1 {
		font-size: 3em;
		margin: 0;
		color: $cLight;
		@include in-light-mode() {
			color: $cDark;
		}
		font-family: $fonts-fancy;
		font-style: italic;

		a {
			border-bottom: none;

			&:hover {
				text-decoration: underline;
				color: $cLightest;
				@include in-light-mode() {
					color: $cDarkest;
				}
			}
		}
	}
}


// images in headers
header figure.page-image {
	position: relative;
	width: 100%;
	margin: 0;
	margin-bottom: -5em;
	z-index: -1;

	
	@include on-big-screen() {
		margin-top: 5em;
		transform: scale(1.1);
	}

	img {
		width: 100%;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		filter: brightness(0.9) saturate(1.2) contrast(1.2);
	}

	// fade out bottom of image
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, $cDarkest 70%);
		@include in-light-mode() {
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, $cLightest 70%);
		}
	}
}

// page headers
header#page-header {
	text-align: center;
	text-transform: lowercase;
	color: $cLight;

	@include in-light-mode() {
		color: $cDark;
	}

	#page-title, #page-description {
		margin: 0;
	}

	#page-title {
		font-size: 2.5em;
		font-weight: 700;
	}

	#page-description {
		font-size: 1.5em;
		font-weight: 400;
		margin-top: 0.5em;
	}
}

// homepage header
header#home-header {
	margin: 2em 0;

	h1 {
		font-size: 3em;
		font-weight: 700;
		margin: 0;
	
		span#js-greeting {
			font-family: $fonts-fancy;
			font-style: italic;
		}

		span#pronouns {
			font-size: 0.5em;
			color: $c;
			vertical-align: baseline;
		}
	}
}