// styles only used on the home page

// homepage header
header#home-header {
	margin-top: 7.5vh;
	margin-bottom: 1em;

	h1 {
		font-size: 3em;
		font-weight: 800;
		margin: 0;
		color: $cLight;
		@include in-light-mode() {
			color: $cDark;
		}

		span#js-greeting {
			font-family: $fonts-fancy;
			font-weight: 500;
		}

		span#pronouns {
			font-size: 40%;
			color: $cLightest;
			font-weight: 300;

			@include in-light-mode() {
				color: $cDarkest;
			}
			vertical-align: baseline;
		}
	}
}

section#about {
    text-wrap: balance;
    a {
    	font-family: $fonts-fancy;

    	&:has(.emoji-icon) {
    		display: inline-block;
    	}
    }
}

section {
	font-size: 110%;

	p {
		margin: 1.5em 0;
	}

	h2.section-title {
		display: none;
		font-family: $fonts-fancy;
		text-align: center;
		font-size: 1.2em;
		color: $cLight;
		@include in-light-mode() {
			color: $cDark;
		}
	}

	&:target {
		background-color: $cDarkest;
		// i hate this but it works to get the background slightly transparent
		background: color-mix(in srgb, $cDarkest 60%, transparent);
		border: 2px solid $cLight;
		border-radius: 0.1em;
		padding: 1em;

		// @include on-big-screen {
		// 	padding-right: 1em;
		// 	padding-bottom: 1em;
		// }

		@include in-light-mode {
			background: color-mix(in srgb, $cLightest 60%, transparent);
			border: 2px solid $cDark;
		}

		h2.section-title {
			display: block;
		}
	}
}

section#now {
	font-size: 100%;

	a {
		font-family: inherit;
	}

	ul {
		margin-top: -1em;

		list-style: none;
		padding-left: 0;

		li {
			margin: 0.5em 0;
			display: flex;

			span.emoji-icon:first-child {
				margin-right: 0.5em;
				font-size: 1.2em;
			}
		}
	}

	li.now-item-js {
		opacity: 0;
		animation: fadeIn 1s forwards;
		transform-origin: top;
	}
}

@keyframes fadeIn {
	0% {
		height: 0;
		opacity: 0;
		transform: scaleY(0);
	}

	50% {
		height: auto; // animating to "auto" is not yet widely supported
		opacity: 0;
		transform: scaleY(0);
	}

	100% {
		opacity: 1;
		height: auto;
		transform: scaleY(1);
	}
}
