// styles only used on the home page

// background image from flickr
aside#bg-cover {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.2s;
	
	// darken/brighten image slightly
	filter: brightness(0.9) saturate(0.8) contrast(1.3);
	@include in-light-mode() {
		filter: brightness(1.1) saturate(1) contrast(1.3);
	}
	
	&.loaded {
		opacity: 0.15;
	}
}

// until flickr image has loaded, use the page image as bg
header#home-header img {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	object-fit: cover; // make sure we don't stretch image

	opacity: 0.3;
	transition: opacity 0.2s;

	&.loaded {
		opacity: 0;
	}
}

// homepage header
header#home-header {
	margin-top: 7.5vh;
	margin-bottom: 1em;

	h1 {		
		font-size: 3em;
		font-weight: 700;
		margin: 0;
		color: $cLight;
		@include in-light-mode() {
			color: $cDark;
		}

		span#js-greeting {
			font-family: $fonts-fancy;
			font-style: italic;
			font-weight: 400;
		}

		span#pronouns {
			font-size: 40%;
			color: $cLightest;
			font-weight: 400;

			@include in-light-mode() {
				color: $cDarkest;
			}
			vertical-align: baseline;
		}
	}
}

section {
	font-size: 110%;

	p {
		margin: 1.5em 0;
	}

	&:target {
		background-color: $cDarkest;
		border-radius: 0.2em;
		padding: 1em;

		// @include on-big-screen {
		// 	padding-right: 1em;
		// 	padding-bottom: 1em;
		// }

		@include in-light-mode {
			background-color: $cLightest;
		}

		article.details-inner {
			display: block;
		}
	}
}

details summary {
	cursor: pointer;
	user-select: none;
}

article.details-inner {
	a {
		font-family: inherit;
	}

	ul {
		margin-top: -1em;

		list-style: none;
		padding-left: 0;
		
		li {
			margin: 0.5em 0;
		}
	}
}

@include on-big-screen {
	// pad the details on the "now" bit, but not on mobile
	article.details-inner {
		border-left: 0.2em solid $c;
			padding-left: 1em;
	}
}
