:root {
    --bg: hsl(200, 100%, 95%);
    --fg: hsl(200, 100%, 5%);
    --accent: hsl(320, 100%, 30%);

    --fonts: "Atkinson Hyperlegible", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(200, 100%, 5%);
        --fg: hsl(200, 100%, 95%);
        --accent: hsl(320, 100%, 90%);
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: var(--fonts);
    font-size: 1.1rem;
    padding: 1rem;

    @media (max-width: 750px) {
        font-size: 1.3rem;
    }
}

header,
main,
footer {
    max-width: 50rem;
    margin: 0 auto;
    text-justify: distribute;
}

header#site-header {
    margin: 1rem auto;

    h1 {
        margin: 0;
        font-size: 2rem;
        font-weight: 600;

        span {
            font-weight: normal
        }
    }

    a {
        display: inline-block;
        width: 100%;

        border: none;
        color: inherit;
        text-decoration: none;

        span {
            color: var(--accent);
            font-weight: 600;
        }
    }

    a:hover span,
    a:focus span {
        background-color: var(--fg);
        color: var(--bg);
    }
}

main {
    a {
        color: var(--accent);
        border-bottom: .1rem solid var(--accent);
        text-decoration: none;
    }

    a:hover,
    a:focus {
        color: var(--bg);
        background-color: var(--fg);
        border-bottom-color: transparent;
    }

    ul {
        list-style: square;

        li:not(:first-child) {
            margin-top: .5rem;
        }
    }

    hr {
        border: none;
        height: .15rem;
        width: 80%;
        margin: 1.5rem auto;
        background-color: var(--accent);
    }
}

article {
    header h2 {
        font-weight: 800;
    }
}

footer {
    margin-top: 2rem;
    font-size: .8rem;
    text-align: center;
}

aside#colour-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: .5rem;
    background-color: var(--accent);
    z-index: 9999;
}

/*
aside#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.3;

    @media (min-width: 750px) {
        background-image: url("/static/img/blondtommodrawing-1000.jpg");
        background-image: url("/static/img/blondtommodrawing-1000.webp");
    }

    @media (max-width: 750px) {
        background-image: url("/static/img/blondtommodrawing-500.jpg");
        background-image: url("/static/img/blondtommodrawing-500.webp");
    }
}
*/
