---
---

:root {
    --bg: hsl(200, 100%, 98%);
    --fg: hsl(200, 100%, 2%);
    --accent: hsl(240, 100%, 30%);

    --width: 720px;

    /* https://modernfontstacks.com/ */
    --fonts: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --fonts-alt: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(200, 100%, 2%);
        --fg: hsl(200, 100%, 98%);
        --accent: hsl(240, 100%, 90%);
    }
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: var(--fonts);
    font-size: 1.1rem;
    padding: 1rem;
    max-width: var(--width);

    @media (max-width: var(--width)) {
        font-size: 1.25rem;
    }
}

a {
    color: var(--accent);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-family: var(--fonts-alt);
}

header {
    margin-bottom: 2rem;

    h1, h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

p {
    line-height: 1.25;
}

footer {
    margin-top: 2rem;
    font-size: 0.75rem;
    cursor: default;
}


/* homepage sections - highlight #targeted bit */
section:target {
    border-left: 4px solid var(--accent);
    padding-left: 1rem;
    animation: pulsingBorder 2s ease-in-out 0s 2;
}

@keyframes pulsingBorder {
    from {
        border-color: var(--accent);
    }
    50% {
        border-color: #000;
    }
    to {
        border-color: var(--accent);
    }
}
