<!DOCTYPE HTML>
<html lang="en-gb">
<meta charset="utf-8">

{% if page.url == site.baseurl %}<title>{{ site.title }}</title>{% else %}<title>{{ page.title }} &mdash; {{ site.title }}</title>{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="hsl(320, 100%, 30%)">
<meta name="description" content="{{ page.description | default: site.description }}">

<link rel="stylesheet" href="{{ '/static/css/atkinson-hyperlegible.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/static/css/main.css' | relative_url }}">

<!-- this svg idea from bearblog.dev <3 -->
<link rel="shortcut icon" type="image/svg+xml" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20y='.9em'%20font-size='90'%3E✌🏻%3C/text%3E%3C/svg%3E">


<aside id="colour-bar" aria-hidden="true"></aside>

{% include header.html %}

<main>
    {% if page.url != site.baseurl %}
    <article>
        <header>
            <h2>{{ page.title }}</h2>
            {% if page.description %}
                <p>{{ page.description }}</p>
            {% endif %}
        </header>
        {{ content }}
    </article>
    {% else %}
        <!-- <aside id="bg-image"></aside> -->

        {{ content }}
    {% endif %}
</main>

{% include footer.html %}
</html>
